


@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
.wrap {
  position: relative;
  float:left;
  width: 400px;
  height: 400px;
  padding:5px;
  margin-left: 150px;
  margin-bottom: 5px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  background: #CA7C4E;
  background: -webkit-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: -moz-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: -o-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: linear-gradient(top right, #EEBE6C 0%, #CA7C4E 100%); 
  /*
    GENERADO CON GRADIENT.IO
  */
    color: #786450;
	font-family: 'Open Sans';
}
span {
    display: block;
}

.value {
    font-size: 12px;
    font-weight: 600;
}

.parameter {
    font-size: 11px;
}
/*
CONTAINERS QUE VARIAN RESPECTO AL TIPO DE CLASE
*/
.center-admin{
    position: absolute;
    top: 50px;
    left: 40px;
    height: 299px;
    width: 320px;
    background:  rgb(255, 217, 94);
    border: 5px solid rgb(155, 119, 0);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}
.center-teacher{
    position: absolute;
    top: 50px;
    left: 40px;
	height: 299px;
	width: 320px;
	background: rgb(78, 255, 246);
    border: 5px solid rgb(0, 22, 70);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}
.center-student {
    position: absolute;
    top: 50px;
    left: 40px;
	height: 299px;
	width: 320px;
	background: rgb(138, 255, 70);
    border: 5px solid rgb(12, 70, 0);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}
/*----------------------------------------------------*/
.image {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 38px auto 0 auto;
}  
.photo {
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: #786450 transparent #786450 #786450;
}

img {
    display: block;
    border-radius: 50%;
    background: #F5E8DF;
}
.user {
	float: left;
	width: 200px;
	height: 320px;
	text-align: center;
}
	
	.name {
		font-size: 15px;
		font-weight: 600;
		margin-top: 20px;
	}
	
	.job {
		font-size: 11px;
		line-height: 15px;
	}
	
.details {
    margin-top: 33px;
    
}
.btn {
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto 10px auto;
    background: none;
    border: 1px solid #786450;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    color: #786450;
    
    
}
.occupation {
	float: left;
}
.container {
    box-sizing: border-box;
    width: 120px;
    height: 99px;
    background: #F5E8DF;
    text-align: center;
    padding-top: 28px;
    transition: all .4s ease-in-out;
}

